/header_footer
/biosignalsnotebooks_environment/categories/Connect/.ipynb_checkpoints
/biosignalsnotebooks_environment/categories/Detect/.ipynb_checkpoints
/biosignalsnotebooks_environment/categories/Evaluate/.ipynb_checkpoints
/biosignalsnotebooks_environment/categories/Extract/.ipynb_checkpoints
/biosignalsnotebooks_environment/categories/Install/.ipynb_checkpoints
/biosignalsnotebooks_environment/categories/Load/.ipynb_checkpoints
/biosignalsnotebooks_environment/categories/MainFiles/.ipynb_checkpoints
/biosignalsnotebooks_environment/categories/Other/.ipynb_checkpoints
/biosignalsnotebooks_environment/categories/Pre-Process/.ipynb_checkpoints
/biosignalsnotebooks_environment/categories/Record/.ipynb_checkpoints
/biosignalsnotebooks_environment/categories/Train_And_Classify/.ipynb_checkpoints
/biosignalsnotebooks_environment/categories/Visualise/.ipynb_checkpoints
/biosignalsnotebooks_environment/categories/Detect/eeg_detect_erp.ipynb
