include README_BSN.md
include biosignalsnotebooks/temp/*
include biosignalsnotebooks/notebook_files/MainFiles/*
include biosignalsnotebooks/notebook_files/*.py
include biosignalsnotebooks/notebook_files/osf_files/signal_samples/*
include biosignalsnotebooks/notebook_files/osf_files/styles/*
include biosignalsnotebooks/notebook_files/osf_files/images/*.png
include biosignalsnotebooks/notebook_files/osf_files/images/icons/*